{% extends "base.html" %}

{% block content %}
	<section class="home full-height">

            <div class="container">
                <div class="row center">
                    <h1 id="welcome" class="col-10 title">Bienvenido a nuestro portal educativo</h1>

                    <div class="col-3 boton">
                        <a href="#" class="boton_a">Notas</a>
                    </div>

                    <div class="col-3 boton">
                        <a href="#" class="boton_a">Informes</a>
                    </div>
                </div>
            </div>

        </section>
	
{% endblock content %}